.zig-cache/
*.bin
zig-out/
zig-pkg/
lightning-rod-data/
logs/
perf.data*
e2e/client/.gradle/
e2e/client/build/
e2e/client/run/
registry_snapshotter/.gradle/
registry_snapshotter/build/
e2e/client/.e2e/
/e2e/artifacts/
